<nav class="navbar fw-bold navbar-light bg-light navbar-expand-md">
    <a href="/" class="navbar-brand">Cutesy Cupcakes</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse flex-row-reverse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item fw-light"><a href="/" class="nav-link"><i class="fas fa-shopping-cart"></i> Cart</a></li>
            <li class="nav-item fw-light dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        </ul>
    </div>
</nav>